html,body{
	 height: 100%;
}

.container{
	margin: 0px;
}
.divInfo{
	/*border: 2px solid  #ccccb3;
	border-radius: 5px;*/
}

.ocorrenciaFeed{
	padding-left: 5px;
	background-color:  #f5f5f0;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid #e0e0eb;
}

#navegacao{
	border-color: #ccccb3;
	margin-top: 5px;
	margin-bottom: 0px; /*Override do bootstrap */
}

#navegacaoInner{
	border-color #ccccb3;
}


#localConsultado{
	margin-top: 10px;
	width: 300px;
}

#map{
	width:100%; height: 90%; background:yellow
}

#divMapa{
	padding: 0px;
	height: 700px;
}

#divFeed{
	background-color: #e7e7e7;
}
#iw-container {
	margin-bottom: 10px;
}
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #48b5e9;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;	
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}
.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}